<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ana Sayfa | Boltas Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">

    <%- include("partials/css") %>

        <style>
            .clickable {
                cursor: pointer;
                user-select: none;
                color: #ff6600;
                /* Bootstrap'in mavi tonuna uygun */
            }

            .clickable:hover {
                color: #0056b3;
                /* Daha koyu bir mavi tonu */
                text-decoration: none;
                /* Hover sırasında altı çizgi kalkar */
            }
        </style>

</head>

<body class="show" data-layout-color="light" data-layout-mode="fluid" data-rightbar-onstart="true" data-leftbar-theme="dark" data-leftbar-compact-mode="condensed">
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- LOGO -->
            <%- include("partials/logo") %>

                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Sidemenu -->
                    <%- include("partials/sidemenu") %>
                        <!-- End Sidebar -->

                        <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <%- include("partials/topbar") %>
                    <!-- end Topbar -->

                    <!-- Start Content-->
                    <div class="container-fluid" style="padding: 0px 40px 0px 40px;">

                        <!-- start page title -->
                        <!-- <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Boltas Portal</h4>
                                </div>
                            </div>
                        </div> -->
                        <!-- end page title -->

                        <div class="row mb-3 mt-3">
                            <div class="col-md-3">
                                <div class="card mb-3">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <span><strong>Günün Yemek Listesi</strong></span>
                                        <a href="/yemek-listesi" class=" text-decoration-none small" target="_blank">
                                            Tümünü Gör
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="menu">
                                            <% if (todayMenu) { %>
                                                <ul class="list-group list-group-flush">
                                                    <% let foundSalad = false; %>
                                                    <% let saladIndex = -1; %>
                                                    <% todayMenu.meals.forEach((meal, index)=> { %>
                                                        <% if (meal.name === "SALATA VE ZEYTİNYAĞLI BÜFESİ") { %>
                                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                <span class="clickable" data-bs-toggle="collapse"
                                                                    data-bs-target="#dropdown-<%= index %>"
                                                                    aria-expanded="false"
                                                                    aria-controls="dropdown-<%= index %>">
                                                                    <%= meal.name %>
                                                                </span>
                                                                <% if (meal.calorie) { %>
                                                                    <span class="badge bg-primary text-white">
                                                                        <%= meal.calorie %> kcal
                                                                    </span>
                                                                <% } %>
                                                            </li>
                                                            <% foundSalad = true; saladIndex = index; %>
                                                            <ul class="list-group list-group-flush collapse" id="dropdown-<%= index %>">
                                                        <% } else if (foundSalad) { %>
                                                            <li class="list-group-item">
                                                                <span>
                                                                    <%= meal.name %>
                                                                </span>
                                                            </li>
                                                        <% } else { %>
                                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                <span>
                                                                    <%= meal.name %>
                                                                </span>
                                                                <% if (meal.calorie) { %>
                                                                    <span class="badge bg-primary text-white">
                                                                        <%= meal.calorie %> kcal
                                                                    </span>
                                                                <% } %>
                                                            </li>
                                                        <% } %>
                                                    <% }) %>
                                                    <% if (foundSalad) { %>
                                                        </ul>
                                                    <% } %>
                                                </ul>
                                            <% } else { %>
                                                <p class="text-muted text-center mt-3">Bugün için yemek bulunamadı.</p>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-3">
                                    <div class="card-header"><strong>Bilgi Bankası</strong></div>
                                    <ul class="list-group list-group-flush">
                                        <div class="col-12">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="/admin-assets/img/ikportal.png" alt="image" class="img-fluid avatar-s">
                                                    </div>
                                                    <div class="col-10">
                                                        <a href="https://ikportal.boltas.com/" target="_blank">İK Portal</a><br>
                                                        <small>İnsan Kaynakları</small>
                                                    </div>
                                                </div>
                                                
                                            </li>
                                        </div>

                                        <div class="col-12">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="/admin-assets/img/logo-kare.png" alt="image" class="img-fluid avatar-s">
                                                    </div>
                                                    <div class="col-10">
                                                        <a href="https://flow.boltas.com/" target="_blank">Flow(Eba)</a><br>
                                                        <small>Bilgi Teknolojileri</small>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="col-12">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img src="/admin-assets/img/safeq.png" alt="image" class="img-fluid avatar-s">
                                                    </div>
                                                    <div class="col-10">
                                                        <a href="http://192.168.200.50/" target="_blank">SafeQ</a><br>
                                                        <small>Yazıcı PIN</small>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="slider" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <% sliders.forEach((slider, index) => { %>
                                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                <a target="_blank" href="https://<%= slider.link %>">
                                                    <img class="d-block img-fluid" src="<%= slider.imageUrl %>" style="width: 100%;">
                                                </a>
                                                <% if (slider.title || slider.description) { %>
                                                    <div class="carousel-caption"
                                                         style="background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0) 100%);">
                                                        <% if (slider.title) { %>
                                                            <h5><%= slider.title %></h5>
                                                        <% } %>
                                                        
                                                        <% if (slider.description) { %>
                                                            <p><%= slider.description %></p>
                                                        <% } %>
                                                    </div>
                                                <% } %>
                                            </div>
                                        <% }); %>
                                        
                                    </div>
                                    <a class="carousel-control-prev" href="#slider" role="button" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"
                                            style="color: black;"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#slider" role="button" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </a>


                                </div>
                                <div class="card mb-3 mt-3">
                                    <div class="card-header"><strong>Doküman Yönetim Sistemi</strong></div>
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <% const activeDocs=docs.filter(doc=> doc.isActive); %>
                                                <!-- Aktif dokümanları filtrele -->
                                                <% activeDocs.forEach((doc)=> { %>
                                                    <li class="list-group-item">
                                                        <%= doc.docName %>
                                                            <span class="float-end">
                                                                <a href="https://portal.boltas.com/<%= doc.docFile %>"
                                                                    target="_blank">Tıklayınız...</a>
                                                            </span>
                                                    </li>
                                                    <% }); %>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Bilgi Bankası -->

                            <!-- Yemek Listesi ve Hava Durumu -->
                            <div class="col-md-3">
                                <div class="card mb-3 ">
                                    <div class="card-header"><strong>Hava Durumu</strong></div>
                                    <div class="card-body">
                                        <label for="citySelect" class="form-label">Şehir Seçin:</label>
                                        <select class="form-select" id="citySelect">
                                            <option selected value="">Lütfen bir şehir seçin</option>
                                            <option value="Istanbul">İstanbul</option>
                                            <option value="Ankara">Ankara</option>
                                            <option value="İzmir">İzmir</option>
                                            <option value="Adana">Adana</option>
                                            <option value="Nürnberg">Nürnberg</option>
                                            <option value="Trieste">Trieste</option>
                                            <option value="Willich">Willich</option>
                                            <option value="Bucuresti">Bucuresti</option>
                                            <option value="Akyaka">Akyaka</option>
                                            <option value="Hamzabeyli">Hamzabeyli</option>
                                            <option value="Edirne">Kapıkule</option>
                                        </select>
                                        <div id="weather-info" class="mt-3"></div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header"><strong>Döviz Kurları</strong></div>
                                    <div class="card-body">
                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Döviz Kodu</th>
                                                    <th>Alış Fiyatı (TL)</th>
                                                    <th>Satış Fiyatı (TL)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% currencies.forEach(currency=> { %>
                                                    <% if (['USD', 'EUR' , 'GBP' ].includes(currency.currencyCode)) { %>
                                                        <tr>
                                                            <td>
                                                                <%= currency.currencyCode %>
                                                            </td>
                                                            <td>
                                                                <%= currency.forexBuying %>
                                                            </td>
                                                            <td>
                                                                <%= currency.forexSelling %>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                            <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <!-- end row -->
                    </div>
                    <!-- container -->

            </div> <!-- content -->

            <!-- Footer Start -->
            <%- include("partials/footer") %>
                <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->


    <%- include("partials/scripts") %>

        <script>
            // Sayfa yüklendiğinde seçilen şehri geri yükle
            document.addEventListener("DOMContentLoaded", () => {
                const citySelect = document.getElementById("citySelect");
                const savedCity = getCookie("selectedCity");

                if (savedCity) {
                    citySelect.value = savedCity;
                }
            });

            // Şehir seçimi değiştiğinde çereze kaydet
            document.getElementById("citySelect").addEventListener("change", (e) => {
                const selectedCity = e.target.value;
                if (selectedCity) {
                    setCookie("selectedCity", selectedCity, 30); // 30 gün boyunca geçerli olacak
                }
            });

            // Çerez (cookie) oluşturma fonksiyonu
            function setCookie(name, value, days) {
                const date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                const expires = "expires=" + date.toUTCString();
                document.cookie = `${name}=${value}; ${expires}; path=/`;
            }

            // Çerez okuma fonksiyonu
            function getCookie(name) {
                const decodedCookie = decodeURIComponent(document.cookie);
                const cookiesArray = decodedCookie.split(';');
                for (let i = 0; i < cookiesArray.length; i++) {
                    let cookie = cookiesArray[i].trim();
                    if (cookie.indexOf(name + "=") == 0) {
                        return cookie.substring(name.length + 1);
                    }
                }
                return "";
            }
        </script>


</body>

</html>