<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profil</title>
</head>
<body>
  <h1>Profiliniz</h1>
  <p><strong>Adı Soyadı:</strong> <%= user.Adi %> <%= user.Soyadi %></p>
  <p><strong>Sicil No:</strong> <%= user.SicilNo %></p>
  <p><strong>Doğum Tarihi:</strong> <%= user.DogumTarihi %></p>
  <p><strong>Cinsiyet:</strong> <%= user.Cinsiyet %></p>
  <p><strong>Yaka Rengi:</strong> <%= user.YakaRengi %></p>
  <p><strong>İş Yeri Giriş Tarihi:</strong> <%= user.IsYeriGirisTarihi %></p>
  <p><strong>Organizasyon:</strong> <%= user.Organizasyon %></p>
  <p><strong>Departman:</strong> <%= user.Departman %></p>
  <p><strong>Unvan:</strong> <%= user.Unvan %></p>
  <p><strong>Email:</strong> <%= user.EMail %></p>
  <p><strong>Telefon:</strong> <%= user.CepTelefonu %></p>
  <p><strong>Lokasyon:</strong> <%= user.LOKASYON %></p>
  <a href="/logout">Çıkış Yap</a>


  <h2><strong>ENGUnvan:</strong> <%= user.ENGUnvan %></h2>
</body>
</html>
