<!DOCTYPE html>
    <html lang="tr">

    <head>
        <meta charset="utf-8">
        <title>Ana Sayfa | Boltas Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">

        <%- include("partials/css") %>

    </head>

    <body class="loading" data-layout-color="light" data-layout="topnav" data-layout-mode="fluid" data-rightbar-onstart="true">
        <!-- Begin page -->
        <div class="wrapper">

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <%- include("partials/topbar") %>
                    <!-- end Topbar -->

                    <%- include("partials/topnav") %>

                    
                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- İÇERİK BURAYA EKLENECEK -->

                        <!-- end row -->
                    </div>
                    <!-- container -->

                </div>
                <!-- content -->

                <!-- Footer Start -->
                <%- include("partials/footer") %>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

       

        <%- include("partials/scripts") %>

    </body>
</html>