<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Telefon Rehberi | Boltas Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">

    <%- include("partials/css") %>

</head>

<body class="loading" data-layout-color="light" data-leftbar-theme="dark" data-layout-mode="fluid"
    data-leftbar-compact-mode="condensed" data-rightbar-onstart="true">
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- LOGO -->
            <%- include("partials/logo") %>

                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Sidemenu -->
                    <%- include("partials/sidemenu") %>
                        <!-- End Sidebar -->

                        <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <%- include("partials/topbar") %>
                    <!-- end Topbar -->

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Telefon Rehberi</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="table-responsive">
                                            <table class="table table-centered w-100 dt-responsive nowrap"
                                                id="phone-datatable">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>Ad Soyad</th>
                                                        <th class="all">E-Posta</th>
                                                        <th>Telefon Numarası</th>
                                                        <th>Dahili Numarası</th>
                                                        <th style="width: 85px;">Aksiyon</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (users && users.length> 0) { %>
                                                        <% users.sort((a, b)=>
                                                            a.DisplayName.localeCompare(b.DisplayName)).forEach(user =>
                                                            { %>
                                                            <% if (user.Mobile) { %>
                                                                <tr>
                                                                    <td>
                                                                        <img src="uploads/pphotos/<%= user.mail %>.jpg" alt="blog-img"
                                                                            title="blog-img" class="rounded-circle me-3"
                                                                            height="48" width="48" style="object-fit: cover;">
                                                                        <p class="m-0 d-inline-block align-middle font-16">
                                                                            <%= user.DisplayName %>
                                                                        </p>
                                                                    </td>
                                                                    <td>
                                                                        <%= user.mail %>
                                                                    </td>
                                                                    <td>
                                                                        <%= user.Mobile %>
                                                                    </td>
                                                                    <td>
                                                                        <%= user.physicalDeliveryOfficeName %>
                                                                    </td>
                                                                    <td class="table-action" style="width: 10%;">
                                                                        <a href="https://wa.me/<%= user.Mobile.replace(/\s+/g, '') %>"
                                                                            target="_blank" class="action-icon">
                                                                            <i class="mdi mdi-whatsapp"></i>
                                                                        </a>
                                                                        <a href="tel:<%= user.Mobile.replace(/\s+/g, '') %>"
                                                                            target="_blank" class="action-icon">
                                                                            <i class="mdi mdi-phone"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                                    <% }); %>
                                                                        <% } else { %>
                                                                            <tr>
                                                                                <td colspan="3">Kayıt bulunamadı.</td>
                                                                            </tr>
                                                                            <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- container -->

            </div> <!-- content -->

            <!-- Footer Start -->
            <%- include("partials/footer") %>
                <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->


    <%- include("partials/scripts") %>

        <script>
            function confirmDelete() {
                return confirm('Bu dökümanı silmek istediğinizden emin misiniz?');
            }
        </script>

</body>

</html>